<nav>
  <form action="/new" method="post">
    <input type="submit" value="New File" class="c-btn">
    <button type="button" name="button" onclick="backh()" class="back-btn">Back to all logs</button>
  </form>
  <span class="logo">logReader</span>
</nav>
